<!DOCTYPE html>
<html  xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
</head>

<body>
<div th:each="post: ${posts}"  th:fragment="postsStreem">
    <div class="card">
        <h5 class="card-header" th:text="${post.getTitle()}"> </h5>
        <div class="card-body">
            <span th:text="${post.getPostText()}" ></span>
        </div>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>




<nav aria-label="..." th:fragment="postsPagination">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="(${currentPage+1}==1) ? 'disabled' : ''">
            <a class="page-link"  th:href="@{/(page=${currentPage - 1})}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
<!--        <li class="page-item">-->
<!--            <a class="page-link" th:href="@{/(page=${currentPage - 1})}" aria-label="Previous">-->
<!--                <span aria-hidden="true">&laquo;</span>-->
<!--            </a>-->
<!--        </li>-->
        <span th:each="page: ${#numbers.sequence(0, totalPages - 1)}">
            <li class="page-item">

                <a class="page-link" th:href="@{/(page=${page})}" th:text="${page + 1}"></a>

            </li>
        </span>
        <li class="page-item" th:classappend="(${currentPage}==${totalPages-1}) ? 'disabled' : ''">
            <a class="page-link" th:href="@{/(page=${currentPage + 1})}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>

    </ul>
</nav>

</body>
</html>