<!DOCTYPE html>
<html  xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/headTopNavigationFragment :: head('vigi8blog | Create new user')"></head>

<body>
<div th:replace="fragments/headTopNavigationFragment :: menu"></div>

<table>
    <tr>
        <th>Post id</th>
        <th>Post Title</th>
        <th>Post Text</th>
        <th>Post author_id</th>
        <th>Posted by IP</th>
        <th>Posted time UTC</th>
        <th>Posted Admin locked</th>
        <th>Posted comment locked</th>

    </tr>
    <tr th:each="post: ${posts}">
        <td th:text="${post.getId()}"> </td>
        <td th:text="${post.getTitle()}"> </td>
        <td th:text="${post.getPostText()}"> </td>
        <td th:text="${post.getAuthorId()}"> </td>
        <td th:text="${post.getPostIp()}"> </td>
        <td th:text="${post.getPostTimeStamp()}"> </td>
        <td>
            <span th:if="${post.isPostLockedByAdmin()}">Locked</span>
            <span th:unless="${post.isPostLockedByAdmin()}">Enabled</span>
        </td>
        <td>
            <span th:if="${post.isCommentsLocked()}">Locked</span>
            <span th:unless="${post.isCommentsLocked()}">Enabled</span>
        </td>


    </tr>
</table>


<div th:replace="fragments/postsFragments :: postsPagination"></div>
<div>
    <a th:href="@{/posts/post}">Write new post</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
</body>

</html>